body {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.content.content.page02{
    flex-direction: column;
}
.content.page03{
    flex-direction: column;
}
.logo{
    padding: 20px 20px;
}

.btns {
    display: flex;
    flex-direction: column;
    text-align: center;
}
button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #0A3871;
    width: 200px;
    height: 55px;
    margin: 5px;
}
.btn-azul{
    background-color: #0A3871;
    color: #ffffff;
}
.btn-branco {
    background-color: #609ED4;
    color: #0A3871;
    
}
.btn-branco:hover{
    background-color: #0A3871;
    color: #ffffff;
    transition: 0.5s;
}
.btn-azul:hover {
    background-color: #609ED4;
    color: #0A3871;
    transition: 0.5s;
}
.btns.hori {
    flex-direction: row;
}
.aviso{
    display: flex;
    justify-content: center;
    padding: 2px;
}
img {
    padding: 2px;
}
.letras {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
p {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
textarea{
    background: none;
    color: #0A3871;
    font-size: 18px;
    border: none;
    resize: none;
}
::placeholder{
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
}

.hide{
    display:none;
}
footer{
    background-color: #000000;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 10px;
}
.fa {
    font-size: 25px;
}

@media (max-width: 800px){
    .btns.hori {
        flex-direction: column;
    }
}